<h1>Question Portal</h1>

<div class="row">
    <div class="col-md-3">
        Extra's aan de zijkant
    </div>
    <div class="col-md-6">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="type your question here">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
        </div>
        <div class="container-fluid">
            <ul>
                <li class="omkringd">vraag 1 Lorem Ipsum dolor set amet</li>
                <li><a href="voorlopig">beantwoorden</a><a href="voorlopig">bewerken</a></li>
                <li class="omkringd">
                    vraag 2 Curabitur vitae lacinia ligula.
                    Sed egestas gravida porttitor. Aliquam nisi nisl, tempus a nulla non,
                    efficitur vestibulum est. Quisque tristique auctor tristique.
                    Sed sit amet sapien id felis accumsan rutrum.
                </li>
                <li><a href="voorlopig">beantwoorden</a><a href="voorlopig">bewerken</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        Extra's aan de zijkant 
    </div>
</div>

<div class="row">
    <div class=" container col-md-3">
        Extra's aan de zijkant
    </div>
    <div class="container col-md-6">
      
    </div>
    <div class="container col-md-3">
        Extra's aan de zijkant
    </div>
</div>
